@import "mixin";
@import "variables";

#app {
  background: $appBg;
  min-height: 100vh;
  position: relative;
}

body {
  overflow: auto;
}

div,
p {
  color: $w;
  @include fonts("Roboto", 18px, $w);
}
