@import "src/styles/mixin";

.wrapper {
  @include builder(flex, center, 100%);
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;

  .buttonWrapper {
    background: rgba(121, 121, 121, 0.4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 20%;
    margin-right: 51px;
    border-radius: 20px;

    span {
      display: flex;
      width: 100%;
    }

    .radioButtonWrapper {
      @include builder(flex, flex-start, 100%);
      flex-direction: column;
    }

    .selected {
      display: flex;
      padding: 11px 21px;
      background: rgba(9, 5, 11, 0.4);
      color: white;
      width: 100%;
    }
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    width: 70%;

    .searchInput {
      @include builder(flex, center, 100%);
      min-height: 50px;
      box-sizing: border-box;
      margin: 50px 0 50px 0;
    }

    .productWrapper {
      background: rgba(175, 118, 196, 0.4);
      padding: 20px;
      box-sizing: border-box;
      @include builder(flex, space-around, 100%);
      flex-wrap: wrap;
      flex-direction: row;
      border-radius: 20px;
    }
  }
}

.title {
  @include builder(flex, flex-start, 100%);
  @include fonts("Roboto", 18px, $w);
  border-bottom: 1px solid;
}
